@import "./base.css";

#app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2.5rem clamp(1.2rem, 3vw, 2.4rem);
  font-weight: normal;
  position: relative;
  isolation: isolate;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--accent);
}
